@charset "UTF-8";

* {
    padding: 0px;
    margin: 0px;
    font-family: Arial, Helvetica, sans-serif;
}

body {
    width: 100vw;
    height: 100vh;
}

header {
    height: 200px;
}
header > h1 { 
    padding: 10px;
    padding-top: 30px;
    text-align: center;
}



#burguer {
    display: block;
    text-align: center;
    padding: 10px;
    cursor: pointer;
}
menu {
    display: none;
}
menu > ul {
    list-style-type: none;
}
menu > ul > li > a {
    display: block;
    padding: 10px;
    text-decoration: none;
    text-align: center;
}


.video {
    width: 100vw;
    display: flex;
    justify-content: center;
    align-items: center;
}
.video > video {
    width: 90vw;
    padding: 10px;
    padding-top: 50px;
}
main > h2 {
    text-align: center;
}
main > p {
    text-indent: 30px;
    padding: 10px;
    padding-top: 10px;
    padding-bottom: 30px;
    line-height: 2em;
    text-align: justify;
}
main > img {
    width: 100vw;
}
footer {
    padding: 10px;
}
footer > a {
    display: flex;
    justify-content: center;
    align-items: center;
    text-decoration: none;
    font-weight: bolder;
}



@media screen and (min-width:769px) {
    header {
        width: 100vw;
    }
    main {
        width: 768px;
        margin: auto;
    }
    

    .video {
        max-width: 769px;
    }
    .video > video {
        max-width: 700px;
        
    }

    img {
        max-width: 769px;
    }


    #orange {
        background-image: url(../imagens/nb01.png);
        background-size: contain;
        background-position: center center;
        background-color: #F16527;
    }
    #ofthrones {
        background-image: url(../imagens/got01.png);
        background-size: contain;
        background-position: center center;
        background-color: rgb(13, 13, 49);
    }
    #bridger {
        background-image: url(../imagens/bg01.png);
        background-size: contain;
        background-position: center center;
        background-color: #946B98;
    }
    #anne {
        background-image: url(../imagens/an01.png);
        background-size: contain;
        background-position: center center;
        background-color: #b7410e;
    }
}